<!doctype html>
<html lang="en">

{% extends "base.html" %}

{% block content %}
    <h2>About us</h2>
    <p>As the old saying goes "Necessity is the mother of all inventions".
        BookTime Bookshop was born when our founder Mr Dillon noticed that
        people in need of books had to commute daily to town just to get their literature
        needs.
    </p>
    <p>Mr Dillon took his love of books and experience in the hospitality 
        industry to create a unique environment that fascilitates for Bookshop
        dates as well as a space to unwind.

    </p>

{% endblock content %}