<!doctype html>
<html lang="en">


{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to BookTime bookshop where minds are well nourished</p>
    <h2>Top rated books</h2>
    <h2>What did we do?</h2>
    <p>This classic by an upcoming Author T Chigana has been named in the NYTimes best sellers list </p>

    <h2> Our mission statement</h2>
    <p>We here at BookTime are devoted to make reading a part of society's everyday culture </p>


    <h2> Ours is a community bookshop serving the literature needs of the Gweru community</h2>
    <p>With stunning views of the City, our shop is conviniently designed to give you the best shopping experience</p>
    <p>Our range of books cuts across different disciplines</p>
{% endblock content %}
